@charset "utf-8";
/* CSS Document */
html {
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background: rgb(250, 250, 250)
}
/*Text Style */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h1, h2, h3 {
  font-weight: bold; /*applies bold styling to heading */
  font-variant: normal
}
p {
  font-size: 1rem;
  margin: 0 0 0.5rem 0; /* Using bottom-margin to create space at the bottom of each paragrap */
	
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
/* 	IMAGE Styles */
img {
	float: left; /*cretes space after image before text to improve appearance */
	margin: 0 1rem 0 0;
}
img.right{
	float: right;
	margin: 0 0 0 1rem;
	
}

.footerR p.opi { 
	background: url("../images/onepiece.png") no-repeat right;
	padding-right:35px;
}



#carouselExampleIndicators1 img, section img, video{
	width: 100%;
	height: auto;
	
	
}
/*Link Style*/
a:link,a:visited,a:active{
	color: #0088cc;
	text-decoration: none;
	
}
a:hover {
	text-decoration: underline; /*Link Styles highlights and underlines links */
}



/*form Style */
::placeholder {
	font-samily: "Josefin Sans", sans-serif;
front-size: 18px;
}

#frmComment {
	width: 90%;
	margin: 30px auto;
	front-size: 18px;
}
#frmComment label{
	float: left;
	width: 100%;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#frmComment label span {
	float: left;
	width: 30%;
	text-align: right;
	margin-top: 0PX;
	padding-top: 10PX;
}
#frmComment label:hover span{
	color: #777;
}
#frmComment input {
	float: left;
	width: 50%
		border: 1px solid #999;
	box-shadow: 0px 5px 5px #e3e3e3;
	margin: 10px 0 0 20px;
	padding: 20px 10px;
	height: 18px;
}
#frmComment input:hover,#frmComment textarea:hover{
	box-shadow:5px 5px 8px #c1c1c1;
}

#frmComment textarea { 
	float:left;
	width:51%;
	margin:8px 0 0 20px;
	border: solid 1px #999;
	border-shadow:2px 8px 8px #e3e3e3;
	padding:10px 0 0 5px;
}
select{
	font-family: "Josefin Sans", sans-serif;
	width:52%;
	padding:12px 10px 10px 10px;
	margin:18px 0 0 20px;
	border:1px soild #999;
	color:#999;
	font-size: 16px;
}
#frmComment input[type=submit]{
	padding:12px 2px;
	text-align: center;
	width: 140px;
	float: left;
	color: #FFF;
	background:0088CC;
	margin: 0 0 0 32%;
	border-radius:7px;
	cursor: pointer;
	hight:45;
}
#frmComment input [type=submit]:hover {
	background: #18B1FB;
}
	
	
	
	
	



/*Footer Style */
footer {
  width: 100%;
}
footer h2 {}
.footerL {
  float: left;
  padding: 0;
  border-right: 1px solid #999;
} 

.footerR {
  float: right;
  text-align: right;
  padding: 0;
	
}

/*Navbar Styles*/
nav.navbar {
  padding: 20px; /* Creates space inside the navbar*/
  background-color: #BB6B35 !important; /*this is background colure for the navbar */
}
nav.navbar.navbar-nav { /*this nav box contents all the links  */
  padding-top: 5px;
  padding-left: 20px;
}
nav.navbar.navbar-nav a.nav-link { /*this tiggeret the links   */
  padding: 8px 20px; /*Sets the space around the links */
  color: #fff; /*change the color of the links */
  text-align: left;
  font-size: 1rem; /* changes the font of the links*/
}
nav.navbar.navbar-nav a.nav-link:hover { /* this creaths a color for the links when you hover over */
  color: #32630A;
}
nav.navbar.navbar-nav .active a.nav-link { /*this shows you which page you are in  */
  font-weight: bold;
  color: #8E0A0C;
  background: transparent;
  border-bottom: 4px solid #C1781A;
}
nav.navbar a.navbar-brand { /*this Targrt the colour for the logo */
  color: white;
}
#frmComment input:hover #frmComment texterarea:hover {
  box-shadow: 5px 8px #c1c1c1;
}
#frmComment textarea {
  width: 52%;
  margin: 8px 0 0 20px;
  border: solid 1px #A6BF1B;
  box-shadow: 2px 8px #A6BF1B;
  padding: 10px 0 0 5px;
}
select {
  width: 52%;
  padding: 12px 10px 10px 10px;
  margin: 18px 0 0 20px;
  border: 1px solid #A6BF1B;
  color: #A6BF1B;
  font-size: 16px;
}
#frmComment input[type=sumit] {
  padding: 12px 2px;
  text-align: center;
  width: 140px;
  float: left;
  color: #fff;
  background: #0088cc;
  margin: 0px 0 0 32%;
  border-radius: 7px;
  cursor: pointer;
  height: 45px;
}
#frmComment input [type=submit]:hover {
  background: #18b1fb;
}
/*table style */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 10px auto;
}
th {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 8px;
  border-bottom: 2px solid #2C7138;
  text-align: center;
}
td {
  font-size: 0.9rem;
  border-bottom: 1px solid #2C7138;
  padding: 12px 6px;
  text-align: center;
}
table tr:nth-of-type(even):hover {
  background-color: rgb(225, 225, 225)
}
table tr:nth-of-type(even):hover {
  background-color: rgba(238, 20, 61, 0.87);
  cursor: pointer;
}
table tr:nth-of-type(odd):hover {
  background-color: rgba(54, 176, 11, 0.72);
  cursor: pointer;
}
table tr:nth-of-type(odd) {
  background-color: rgba(225, 225, 225);
}
@media screen and (max-width:992px) {
  .footerL {
    border-right: none;
    border-bottom: 1px solid rgba(13, 106, 64, 1.00);
    padding-left: 1rem
  }
  .footerR {
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem
  }
  .footerR p.linked {
    background: url("../Images/hhj.jpg") no-repeat 65px 0;
    padding-right: 30px;
  }
  form.form-inline {
    width: 90%;
  }
  form.form-inline input[type=search] {
    width: 90%;
  }
  form.form-inline button[type=submit] {
    display: none;
    width: 0;
  }
  nav.navbar.navbar-nav {
    padding-left: 0;
  }
  nav.navbar.navbar-nav a.nav-link {
    padding: 8px 20px 8px 0;
    width: 50%;
  }
  p {
    font-size: 0.95rem;
  }
  h2 {
    font-size: 1.1rem;
  }
}
